$small: 1100px;
div{
    overflow-x: hidden;
    width: 100%;
    cursor: pointer;
    img{
        width: 100%;
    }
}

.hidden-sm{
    @media screen and (max-width: $small) {
        display: none;;
}
}
