<div class="card-container">
    <div class="card">
        <img src="../../assets/img/icons/close.svg" alt="" class="icon" [routerLink]="['/try']">
        <h2 class="head">Web Design Primary Research</h2>
        <div class="problem">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sed mollitia laborum consequatur dolore accusantium, consectetur officiis. Repellendus vel saepe nemo cupiditate quaerat! Pariatur facilis ex eligendi illo omnis quisquam!
        </div>
        <a href="/problem" class="again">
            <img src="../../assets/img/icons/repeat.svg" alt="" class="icon">
            Generate Again
        </a>
        <div class="button" [routerLink]="['/create']">
            <img src="../../assets/img/icons/brush.svg" alt="" class="icon">
            Solve This
        </div>
    </div>
</div>