<div class="card-container">
    <div class="card">
        <img src="assets/img/icons/close.svg" alt="" class="icon" [routerLink]="['/try']">
        <h2 class="head">Web Design Prompts</h2>
        <div class="problem">
            Your local Private hospital has approached you to make a website for them as the current surge is being very hard to handel for them and they want an online solution to register new patients. Consider your nearest private hospital. The website will be used by the patients and the hospital office workers.
        </div>
        <a href="/problem" class="again">
            <img src="assets/img/icons/repeat.svg" alt="" class="icon">
            Generate Again
        </a>
        <div class="button" [routerLink]="['/create']">
            <img src="assets/img/icons/brush.svg" alt="" class="icon">
            Solve This
        </div>
    </div>
</div>