<app-nav-bar></app-nav-bar>
<div class="cr-con">
	<div class="course">
		<div class="devider hidden-sm"></div>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Secondary Research</div>
				<div class="progress"><span>1</span>/ 3 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('secondary', 'context')">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Context
				</div>
				<div class="card" (click)="goToContent('secondary', 'competition')">
					<img src="../../assets/img/icons/competition.svg" alt=""  class="icon">
					Competition
				</div>
				<div class="card" (click)="goToContent('secondary', 'tone')">
					<img src="../../assets/img/icons/tone.svg" alt=""  class="icon">
					Tone
				</div>
			</div>
		</div>

		<div class="big-button"  [routerLink]="['/try']">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Primary Research</div>
				<div class="progress"><span>0</span>/ 1 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('primary', 'goal')">
					<img src="../../assets/img/icons/user-goal.svg" alt=""  class="icon">
					User Goal
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Analyze</div>
				<div class="progress"><span>0</span>/ 3 read</div>
			</div>
			
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('analyze', 'findings')">
					<img src="../../assets/img/icons/findings.svg" alt=""  class="icon">
					Findings
				</div>
				<div class="card" (click)="goToContent('analyze', 'persona')">
					<img src="../../assets/img/icons/persona.svg" alt=""  class="icon">
					Persona
				</div>
				<div class="card" (click)="goToContent('analyze', 'opportunities')">
					<img src="../../assets/img/icons/opportunities.svg" alt=""  class="icon">
					Opportunities
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Ideate</div>
				<div class="progress"><span>0</span>/ 3 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('ideate', 'visuals')">
					<img src="../../assets/img/icons/visuals.svg" alt=""  class="icon">
					Visuals
				</div>
				<div class="card" (click)="goToContent('ideate', 'brainstorming')">
					<img src="../../assets/img/icons/brainstorming.svg" alt=""  class="icon">
					Brainstorming
				</div>
				<div class="card" (click)="goToContent('ideate', 'choose')">
					<img src="../../assets/img/icons/choose.svg" alt=""  class="icon">
					Choose
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>
		
		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Prototype</div>
				<div class="progress"><span>0</span>/ 4 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('prototype', 'architecture')">
					<img src="../../assets/img/icons/architecture.svg" alt=""  class="icon">
					Architecture 
				</div>
				<div class="card" (click)="goToContent('prototype', 'wireframe')">
					<img src="../../assets/img/icons/wireframe.svg" alt=""  class="icon">
					Wireframe
				</div>
				<div class="card" (click)="goToContent('prototype', 'screens')">
					<img src="../../assets/img/icons/screens.svg" alt=""  class="icon">
					Screens
				</div>
				<div class="card" (click)="goToContent('prototype', 'hifi')">
					<img src="../../assets/img/icons/hi-fi.svg" alt=""  class="icon">
					Hi-Fi
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Test</div>
				<div class="progress"><span>0</span>/ 2 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('test', 'performance')">
					<img src="../../assets/img/icons/performance.svg" alt=""  class="icon">
					Performance
				</div>
				<div class="card" (click)="goToContent('test', 'aloud')">
					<img src="../../assets/img/icons/think-aloud.svg" alt=""  class="icon">
					Think Aloud
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

	</div>
</div>