<app-nav-bar></app-nav-bar>
<div class="cr-con">
	<div class="course">
		<div class="devider hidden-sm"></div>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Secondary Research</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card" (click)="goToContent('secondary', 'context')">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Context
				</div>
				<div class="card" (click)="goToContent('secondary', 'competition')">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Competition
				</div>
				<div class="card" [routerLink]="['/step']">
					<img src="../../assets/img/icons/flag.svg" alt=""  class="icon">
					Tone
				</div>
			</div>
		</div>

		<div class="big-button"  [routerLink]="['/try']">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Primary Research</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					User Goal
				</div>
				<div class="card">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Persona
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Analyze</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Findings
				</div>
				<div class="card">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Opportunities
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Ideate</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Architecture
				</div>
				<div class="card">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Wireframe
				</div>
				<div class="card">
					<img src="../../assets/img/icons/flag.svg" alt=""  class="icon">
					Stylize
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>
		
		<hr>
		
		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Design</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Hi-Fi
				</div>
				<div class="card">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Mockup
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

		<div class="step-container">
			<div class="card-head">
				<div class="step-title">Test</div>
				<div class="progress"><span>4</span>/ 5 read</div>
			</div>
			<div class="cards-wrapper">
				<div class="card">
					<img src="../../assets/img/icons/happy.svg" alt=""  class="icon">
					Performance
				</div>
				<div class="card">
					<img src="../../assets/img/icons/questions.svg" alt=""  class="icon">
					Think Aloud
				</div>
			</div>
		</div>

		<div class="big-button">
			<img src="../../assets/img/icons/brush.svg" alt=""  class="icon">
			Try Yourself
		</div>

	</div>
</div>