<div class="header">
    <div class="container">
        <img src="assets/img/tools/ps.webp" alt="" class="logo">
        <h1 class="name">Photoshop</h1>
        <img src="assets/img/icons/close.svg" alt="" class="icon"  [routerLink]="['/step']">
    </div>
    
</div>
<div class="container">        
    <div class="about">
        Narwhal enamel pin cred YOLO taiyaki. Whatever woke mustache intelligentsia af. Adaptogen cloud bread taiyaki slow-carb polaroid fanny pack heirloom XOXO vexillologist.
        Narwhal enamel pin cred YOLO taiyaki. Whatever woke mustache intelligentsia af. Adaptogen cloud bread taiyaki slow-carb polaroid fanny pack heirloom XOXO vexillologist.
    </div>
    <div class="rel-vid">
        <h2>Related Videos</h2>
        <div class="cards-wrapper">
            <a class="card" href="#">
                <img src="https://img.youtube.com/vi/YqQx75OPRa0/0.jpg" alt="">
            </a>
            <a class="card" href="#">
                <img src="https://img.youtube.com/vi/YqQx75OPRa0/0.jpg" alt="">
            </a>
            <a class="card" href="#">
                <img src="https://img.youtube.com/vi/YqQx75OPRa0/0.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="resources">
        <h2>Resources</h2>
        <div class="cards-wrapper">
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
            <div class="card"><a href="#">Freepik</a></div>
        </div>
    </div>
</div>