<div class="container">
    <div class="header">
        <img src="{{pageData?.icon}}" class="head-icon" alt=""><h1 style="display:inline-block">{{pageData?.title}}</h1>
        <br>
        <img src="assets/img/icons/close.svg" alt=""  data-ng-include class="icon"  [routerLink]="['/course']">
        {{pageData?.summary}}
    </div>
    <div class="content col-sm-12 col-md-6">
        <div class="before">
            <h2>Before</h2>
            {{pageData?.before}}
        </div>
        <div class="after">
            <h2>After</h2>
            {{pageData?.after}}
        </div>
        <div class="steps">
            <h2>Steps of this Activity</h2>
            <div class="step-card">
                <div *ngFor="let step of pageData?.key_steps">
                    <img [src]="step.img" alt="">
                    {{step.text}}
                </div>
            </div>
        </div>
    </div>
    <div class="content col-sm-12 col-md-6">
        <div class="tools">
            <h2>Choose Your Tools</h2>
            <div class="cards-wrapper">
                <div *ngFor="let tool of pageData?.tools" class="card">
                    <div>
                        <img [src]="getToolImg(tool)" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="rel-vid">
            <h2>Related Videos</h2>
            <div class="cards-wrapper">
                <a *ngFor="let url of pageData?.videos" class="card" [href]="url" target="_blank">
                    <img [src]="videoThumbnail(url)">
                </a>
            </div>
        </div>
        <div class="resources">
            <h2>Resources</h2>
            <div class="cards-wrapper">
                <div *ngFor="let item of pageData?.resources" class="card">
                    <a [href]="item.url" target="_blank">{{item.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>