<app-nav-bar> </app-nav-bar>
<div class="container">
    <div class="header">
        <h1>{{pageData?.title}}</h1>
        <img src="../../assets/img/icons/close.svg" alt="" class="icon"  [routerLink]="['/course']">
        {{pageData?.summary}}
    </div>
    <div class="content col-sm-12 col-md-6">
        <div class="before">
            <h2>Before</h2>
            {{pageData?.before}}
        </div>
        <div class="after">
            <h2>After</h2>
            {{pageData?.after}}
        </div>
        <div class="steps">
            <h2>Steps</h2>
            <p>Some heading text with the step</p>
            <ol>
                <li *ngFor="let step of pageData?.key_steps">{{step}}</li>
            </ol>
        </div>
    </div>
    <div class="content col-sm-12 col-md-6">
        <div class="tools">
            <h2>Tools</h2>
            <div class="cards-wrapper">
                <div *ngFor="let tool of pageData?.tools" class="card">
                    <div>
                        <img [src]="getToolImg(tool)" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="rel-vid">
            <h2>Related Videos</h2>
            <div class="cards-wrapper">
                <a *ngFor="let url of pageData?.videos" class="card" [href]="url" target="_blank">
                    <img [src]="videoThumbnail(url)">
                </a>
            </div>
        </div>
        <div class="resources">
            <h2>Resources</h2>
            <div class="cards-wrapper">
                <div *ngFor="let item of pageData?.resources" class="card">
                    <a [href]="item.url" target="_blank">{{item.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>