<app-nav-bar> </app-nav-bar>
<div class="container">
    <div class="btn-container col-lg-4 col-md-6 col-sm-12">
        <div class="big-button"  [routerLink]="['/problem']">
            <img src="../../assets/img/icons/text.svg" alt=""  class="icon">
            Try Yourself
        </div>
    </div>
    
    <div class="card-container col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="info">
                <p class="name">Prashant</p>
                <h5 class="topic">Secondary Research</h5>
            </div>
            <div class="image">
                <div class="overlay"></div>
                <img src="../../assets/img/user/user-image.png" alt="">
            </div>
            <div class="score">
                <img src="../../assets/img/icons/top.svg" alt="" class="icon">
                <h4>350</h4>
            </div>
        </div>
    </div>
    <div class="card-container col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="info">
                <p class="name">Prashant</p>
                <h5 class="topic">Secondary Research</h5>
            </div>
            <div class="image">
                <div class="overlay"></div>
                <img src="../../assets/img/user/user-image.png" alt="">
            </div>
            <div class="score">
                <img src="../../assets/img/icons/top.svg" alt="" class="icon">
                <h4>350</h4>
            </div>
        </div>
    </div>
    <div class="card-container col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="info">
                <p class="name">Prashant</p>
                <h5 class="topic">Secondary Research</h5>
            </div>
            <div class="image">
                <div class="overlay"></div>
                <img src="../../assets/img/user/user-image.png" alt="">
            </div>
            <div class="score">
                <img src="../../assets/img/icons/top.svg" alt="" class="icon">
                <h4>350</h4>
            </div>
        </div>
    </div>
</div>