.dashboard{
    background-image: url("../../assets/img/bg.svg") !important;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.small{
    font-size: 1.2em !important;
}

.card-container{
    margin: 20px 0px;
}

.workshop-name{
    color: white;
    font-family:Montserrat, sans-serif;
    font-weight: 700;
    margin-top: 45px;
    font-size: 2.2em;
    text-align: center;
    vertical-align: middle;
}

.cmn{
    font-size: .6em !important;
    font-weight: 300;
}

.workshop-progress{
    font-size: 1.2em;
    line-height: 2em;
    display: inline;
    color: #707070;
}


.inactive{
    height: 250px !important;
    .workshop-name{
        margin-top: 80px;
    }
}


.flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.progress{
    position: absolute;
    width: 100%;
    top: 184.5px;
    // left: 0px;
    height: 5px;
    .progress-bar{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100px;
        background-color: #1d87c9;
    }
}


.card-button{
    float: right;
}

.cmsn{
    opacity: 50%;
    transition: all 300ms ease;
    .workshop-name{
        margin-top: 65px;
    }
}

.cmsn:hover{
    filter: grayscale(100%);
    .workshop-name{
        display: none;
    }
    &::before{
        content: "Coming Soon!";
        display: block;
        @extend .workshop-name;
        text-align: center;
        margin-top: 80px;
            // position: absolute;
            // left: 50%;
            // top: 30%;
            // transform: translate(-50%,-50%);
    }
}