<app-nav-bar> </app-nav-bar>
<div class="dashboard">
	<div class="container">
	  <div class="flex">
		<div class="card-container col-xs-12 col-md-6 col-lg-4 ">
			<div class="faculty-card ">
			  <div class="faculty-card-color grad-yellow" [routerLink]="['/course']">
				  <p class="workshop-name">
					Web Design
				  </p>
			  </div>
			  <div class="faculty-card-white-strip">
				  <p class="workshop-progress">Continue reading:</p>
				  <button class="univinks-button regular small solid card-button" [routerLink]="['/course']">
					Context
				  </button>
			  </div>
			  <div class="progress">
				<div class="progress-bar"></div>
			  </div>
		  </div>
		</div>
		
		<div class="card-container col-xs-12 col-md-6 col-lg-4 ">
		  <div class="faculty-card">
			<div class="faculty-card-color inactive grad-green">
				<p class="workshop-name">
				  Poster Design
				</p>
			</div>
		  </div>
		</div>
  
		<div class="card-container col-xs-12 col-md-6 col-lg-4 ">
		  <div class="faculty-card">
			<div class="faculty-card-color inactive grad-purple">
				<p class="workshop-name">
				  Logo Design
				</p>
			</div>
		  </div>
		</div>
  
  
  
	  </div>
	</div>
  </div>